/* Styles go here */
html, body {
  min-height:100%;
  min-width:100%;
  padding-top: 30px;
}


/* this is only to style the sidebar - you can make the sidebar look any way you want */
.sidebar {
  padding: 50px;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

hr {
   border-color: #000000;
}

#meta{
    font-size: 25px;
    color: black;
}

#meta a:hover {
    color: #ff5733;
}

.home ul{
    align: center;
}
.home ul li {
    display: block;
}

.sidebar .sections {
    margin: 15px 0 0 0;
 }
.sidebar .sections a {
    padding: 3px 0;
    color: black;
    font-weight: bold;
    font-size: 17px;
    display: block;
 }
.sidebar .sections a:hover {
    color: #ff5733;
 }
.sidebar .sections ul {
    margin: 0;
    padding: 0;
 }
.sidebar .sections li {
    list-style: none;
    margin-bottom: 7px; }
    .sidebar .name {
    text-transform: uppercase;
    margin: 10px 0 20px 0;
}
.sidebar .name #fname {
    padding-left: 1px;
    font-size: 17px;
    letter-spacing: 5px;
    color: black;
}
.sidebar .name #lname {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
}


.pagination {
padding-bottom: 20px;
font-size: 1.4em;
text-align: center;
}
.pagination a {
color: #4878af;
text-decoration: none;
/* Transition on color */
-webkit-transition: color 0.4s;
-moz-transition: color 0.4s;
-o-transition: color 0.4s;
transition: color 0.4s;
}
.pagination a:hover { color: #5c9eed; }
.pagination__previous {
margin-right: 20px;
}
.pagination__next {
margin-left: 20px;
}


/**************************************************************
* Footer
**************************************************************/
.page-footer {
min-width : 100%;
text-align:center;
}
/* Paragraphs */
.page-footer p {
margin: 15px;
font-style: bold;
}
/* Hyperlinks */
.page-footer a {
color: #4878af;
/* Transition on color */
-webkit-transition: color 0.4s;
-moz-transition: color 0.4s;
-o-transition: color 0.4s;
transition: color 0.4s;
}
.page-footer a:hover { color: #ff5733;}
.page-footer a:visited { color: #ff5733; }
.page-footer a:hover:visited { color: #ff5733; }
.page-footer a:focus { color: #ff5733;}
.page-footer a:active { color: #ff5733;}




/**************************************************************
* Post
**************************************************************/
.post {
    margin: 5%;
    text-align: justified:
}
.post-meta{
    font-weight: 700;
}
.post-link a, a:link, a:visited {
    text-decoration: none;
    color: #ff5733;
    font-weight: 700;
}

.post .post-title {
    font-weight: 700;
    text-align: center;
    color: #ff5733;
 }
 .brand{
    color: #000000 !important;
 }
 .post .post-content {
    font-size : 18px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
 }

 .post h2,h3 {
    color: #ff5733;
    font-weight: 700;
 }

.home {
    margin: 5%;
    text-align: justified:
 }

 .home ul {
    list-style: none;
 }

.headerimage {
    text-align:center;

}
.headerimage img {
 width: 700px;
 height: 230px;
}

.proposalimage {
    text-align:center;
}

.proposalimage img {
    width: 700px;
    height: 4804px;
}

.tripimage {
    text-align:center;
}

.tripimage img {
    width: 944px;
    height: 629px;
}

#social {
    margin: 20px;
    text-align:center;
    font-size: 38px;
}

.imgcenter {
     text-align:center;
}

