<header class="site-header">
    {% include sidebar.html %}
    <div class="topbar navbar navbar-static navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand brand" href="{{site.url}}">{{ site.title }}</a>
            </div>
            <button type="button" class="navbar-toggle toggle-right" data-toggle="sidebar" data-target=".sidebar-right">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</header>
